@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none;
  border: none;
}
*::selection {
  color: #fff;
  background-color: var(--main-color);
}
:root {
  --main-color: #aebb14;
  --primary-color: #191d2b;
  --main-transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  color: #fff;
  background-image: linear-gradient(to left, #989cbb, #e0e4ec, #de9d3c);
  font-family: "Gemunu Libre", sans-serif;
}
.bg-cover,
img {
  user-select: none;
  pointer-events: none;
}
.bg-cover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}
svg polyline {
  stroke: var(--main-color);
}
/* Start Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 10px 40px;
  transition: var(--main-transition);
  z-index: 10;
}
.logo img {
  width: auto;
  height: 45px;
}
.header article {
  display: flex;
  align-items: center;
}
.social-link {
  margin-right: 150px;
}
.social-link a {
  display: inline-block;
  color: #fff;
  padding: 12px;
  user-select: none;
  transition: var(--main-transition);
}
.social-link a:hover {
  color: var(--main-color);
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 15px;
  }
  .social-link {
    display: none;
  }
}
#open-toggle {
  width: 25px;
  cursor: pointer;
}
#open-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
#open-toggle span:nth-child(2) {
  width: 15px;
  margin: 5px 0 5px 10px;
  transition: var(--main-transition);
}
#open-toggle:hover span:nth-child(2) {
  background: var(--main-color);
  margin: 5px 0 5px;
}
/* End Header */

/* Start Navigation */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  color: #fff;
  padding: 90px 30px 50px;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1001;
  transform: translateX(100%);
  transition: var(--main-transition);
}
.navigation.active {
  transform: translateX(0);
}
@media screen and (max-width: 991px) {
  .navigation {
    width: 300px;
  }
  .navigation {
    padding: 90px 15px 50px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    width: 250px;
  }
}
.navigation::-webkit-scrollbar {
  width: 0;
}
.navigation .nav-content h3 {
  text-transform: uppercase;
}
.personal-img {
  width: 100%;
  height: 180px;
  margin: 15px 0;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
}
.personal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 3px;
  pointer-events: none;
}
.nav-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.8);
}
#close-toggle {
  position: absolute;
  top: 47px;
  right: 35px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  #close-toggle {
    right: 25px;
  }
}
#close-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: auto;
  transition: var(--main-transition);
}
#close-toggle span:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -2px;
}
#close-toggle span:nth-child(2) {
  transform: rotate(-45deg);
}
.copyrights {
  font-size: 17px;
  margin-top: 25px;
}
.copyrights span {
  font-weight: 800;
}
.nav-social {
  display: flex;
  margin-top: 35px;
}
.nav-social a {
  position: relative;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  background: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
  margin-right: 20px;
}
.nav-social a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: calc(100% + 12px);
  height: 2px;
  background: var(--main-color);
  transform: rotate(45deg);
  z-index: -1;
}
.nav-social a:hover::before {
  animation: rotateLink 3s linear infinite;
}
@keyframes rotateLink {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
/* End Navigation */

/* Start Color Schems */
.color-scheme {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  color: #fff;
  background: #201e21;
  text-align: center;
  padding: 50px 25px;
  z-index: 1002;
  transform: translateX(-100%);
  transition: var(--main-transition);
}
.color-scheme.open {
  transform: translateX(0px);
}
.switcher-btn {
  position: absolute;
  right: -35px;
  top: 40%;
  transform: translateY(-40%);
  background: inherit;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.switcher-btn span {
  display: inline-block;
  margin-top: 2px;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.color-scheme .logo {
  text-align: center;
  margin-bottom: 20px;
}
.color-scheme .logo img {
  height: 100px;
  text-align: center;
}
.theme-btn-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2px;
}
.theme-btn-container span {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 991px) {
  .color-scheme {
    width: 250px;
  }
  .color-scheme .logo img {
    height: 90px;
  }
}
@media screen and (max-width: 767px) {
  .color-scheme {
    width: 220px;
  }
  .color-scheme .logo img {
    height: 70px;
  }
}
/* Start Color Schems */

/* Start NavPoints */
.nav-num {
  position: fixed;
  right: 0;
  height: 100vh;
  background: transparent;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  z-index: 9;
}
.nav-num li {
  color: #fff;
  background: rgba(51, 51, 51, 0.6);
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 7px 0;
  list-style: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.nav-num li:hover,
.nav-num li.active {
  background: var(--main-color);
}
@media screen and (max-width: 767px) {
  .nav-num {
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: rgba(51, 51, 51, 0.5);
    bottom: 0;
    padding-right: 0;
    margin-top: 0;
  }
  .nav-num li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 440px) {
  .nav-num li {
    width: 35px;
    height: 35px;
    font-size: 15px;
    margin: 0 5px;
  }
}
/* End NavPoints */

/* Start Section Common Style Component */
.main-content {
  min-height: 100vh;
  overflow: hidden;
}
.section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: transform 0.7s ease-in-out;
  z-index: 1;
  overflow: hidden;
}
.section.show {
  transform: translateY(0);
  z-index: 2;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* SMALL Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* MEDIUM Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* LARGE Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* EXTRA LARGE Screens */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.hint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hint span {
  color: var(--main-color);
  margin-right: 10px;
}
.sec-content,
.sec-utilities {
  width: 48%;
  transition: 0.7s 0.5s ease-in-out;
}
/* Section Animation */
.sec-content {
  transform: scale(0);
}
.section.show .sec-content {
  transform: scale(1);
}
.sec-utilities {
  transform: translateX(110%);
}
.section.show .sec-utilities {
  transform: translateX(0);
}
.home .container,
.portfolio .container,
.testimonial .container {
  transform: scale(0);
  transition: 0.7s 0.4s ease-in-out;
}
.home.show .container,
.portfolio.show .container,
.testimonial.show .container {
  transform: scale(1);
}
/* Section Animation */

.sec-content .sub-heading {
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sub-heading span {
  color: var(--main-color);
  margin-right: 10px;
}
.sec-content .heading {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}
.sec-content .txt {
  font-weight: 400;
  line-height: 1.4;
  margin: 10px 0;
}
.btn {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 35px;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(63, 44, 44, 0.1);
  transition: var(--main-transition);
}
.btn:hover {
  color: var(--main-color);
  background: #FFF;
}
@media screen and (max-width: 991px) {
  .sec-content,
  .sec-utilities {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    justify-content: center;
  }
  .hint {
    display: none;
  }
}
/* End Section Common Style Component */

/* Start Home Section */
.home .container {
  justify-content: center;
  text-align: center;
}
.home .content h3 {
  text-transform: uppercase;
}
.home .content h3 span {
  color: var(--main-color);
  margin-right: 10px;
}
.home .content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0;
}
.home .btn {
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .home .content h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 767px) {
  .home .content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 420px) {
  .home .content h1 {
    font-size: 2rem;
  }
}
/* End Home Section */

/* Start About Section */
.about .quality {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.about .quality span {
  color: var(--main-color);
  margin-right: 10px;
}
.about-imgBx {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.about-imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgb(255, 255, 255, 0.3);
  opacity: 0;
}
.about-imgBx:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.about-imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: inherit;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  user-select: none;
}
.about .sec-utilities h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .about .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about .sec-utilities {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 25px;
  }
  .about .sec-utilities h2 {
    font-size: 22px;
  }
  .about-imgBx {
    width: 420px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .about .hint {
    left: -15px;
  }
  .about-imgBx {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 420px) {
  .about-imgBx {
    width: 100%;
    height: 180px;
  }
}
/* End About Section */

/* Start Services Section */
.web-lang {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(2, 150px);
  gap: 15px;
  justify-content: center;
  padding: 15px;
}
.langBx {
  background: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid #212e35be;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover {
  border: 1px solid var(--main-color);
  transform: translateY(-5px) !important;
}
.langBx span {
  color: var(--main-color);
  font-size: 4.5em;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx h3 {
  color: #333;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover .lang-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover span {
  font-size: 2em;
}
.langBx:hover h3 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}
.langBx p {
  color: #444;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  display: none;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover p {
  display: block;
}
@media screen and (max-width: 991px) {
  .services .container {
    flex-direction: column-reverse;
  }
  .web-lang {
    grid-template-columns: repeat(auto-fill, minmax(180px, 220px));
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .services .sec-utilities {
    width: 90%;
  }
  .web-lang {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-bottom: 25px;
  }
  .langBx {
    padding: 15px;
  }
}
/* End Services Section */

/* Start Skills Section */
.skills .hint {
  left: -10px;
}
.skills .container {
  align-items: center;
}
.skills .txt span {
  font-weight: 600;
}
.skills .what-iDo {
  margin-top: 50px;
}
.what-iDo li {
  margin: 15px 0;
  list-style: none;
  text-transform: uppercase;
}
.what-iDo li span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  margin: 0 5px;
}
.skills .sec-utilities {
  padding: 0 30px;
}
.skills-progress:not(:last-child) {
  margin-bottom: 35px;
}
.skills-lang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
}
.skills-lang h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.progress-bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
}
.progress-bar span {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 2s 0.7s;
}
.progress-bar span::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
  .skills .container {
    flex-direction: column;
    align-items: center;
  }
  .skills .sec-content {
    margin-bottom: 25px;
  }
  .skills .sec-utilities {
    padding: 30px 0;
  }
}
/* Start Skills Section */

/* Start Portfolio Section */
.portfolio .container {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
}
.portfolio .hint {
  left: -65px;
  z-index: 1000;
}
.portfolio .box-hint {
  font-size: 18px;
  text-align: center;
  margin: 25px auto;
}
.portfolio .box-hint span {
  font-size: 16px;
  color: var(--main-color);
  margin: 0 5px;
}
.menu-btns {
  position: relative;
  width: fit-content;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border-bottom: 2px solid rgba(172, 172, 172, 0.5);
}
.filter-btn {
  position: relative;
  height: 50px;
  color: #fff;
  background: transparent;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: var(--main-transition);
}
.filter-btn:not(:last-child) {
  margin-right: 10px;
}
.filter-btn:hover,
.filter-btn.active {
  color: var(--main-color);
}
.filter-btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: var(--main-color);
  opacity: 0.5;
  transition: var(--main-transition);
}
.filter-btn:hover::before,
.filter-btn.active::before {
  left: 0;
}
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 1.5rem;
}
.menu-container .card {
  position: relative;
  width: 230px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
  transition: var(--main-transition);
}
.menu-container .card:hover {
  transform: translateY(-10px);
}
.card .image {
  width: 100%;
  height: 100%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.card .hover-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background: var(--main-color);
  border-radius: inherit;
  transition: var(--main-transition);
  transform: scale(0);
  opacity: 0;
}
.card:hover .hover-items,
.card.active .hover-items {
  transform: scale(1);
  opacity: 0.9;
}
.card .hover-items h3 {
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.card .hover-items .icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  background: #333;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  margin: 0 8px;
  transition: var(--main-transition);
  cursor: pointer;
}
.card .hover-items .icon:hover {
  color: #333;
  background: #fff;
}
.hover-items .icon:nth-child(1)::before {
  content: "Click to preview";
  position: absolute;
  top: 45px;
  left: -50px;
  color: #fff;
  background: #333;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: var(--main-transition);
}
.hover-items .icon:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 3px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
  opacity: 0;
  visibility: hidden;
  transition: var(--main-transition);
}
.hover-items .icon:nth-child(1):hover::before,
.hover-items .icon:nth-child(1):hover::after {
  opacity: 1;
  visibility: visible;
}

/* Preview Popup */
.preview-popup {
  position: fixed;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #fff;
  margin: 0 auto;
  border-radius: 3px;
  z-index: 99;
  transform: scale(0);
  transition: var(--main-transition);
}
.preview-popup.show {
  transform: scale(1);
}
.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}
.preview-header .current-web {
  color: var(--main-color);
  font-weight: 700;
  margin: 0 3px;
}
.preview-header #close-preview {
  font-size: 22px;
  color: var(--main-color);
  cursor: pointer;
}
.website-preview {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.website-preview #website-frame {
  width: 100%;
  height: calc(100% - 44px);
  border-radius: 3px;
  z-index: 9;
}
#frame-loader {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #fff;
  background-color: #333;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 99;
}
/* End Portfolio Section */

/* Start Testimonial Section */
.testimonial .hint {
  left: -52px;
}
.testimonial .container {
  display: block;
}
.slider-container {
  position: relative;
  min-height: 300px;
  padding-top: 35px;
  margin-top: 35px;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .slider-container {
    min-height: 360px;
  }
}
.slider-container .slide {
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 50px;
  transition: var(--main-transition);
}
.slider-container .slide .quote {
  position: absolute;
  top: 0px;
  right: 10px;
}
.quote span {
  font-size: 10rem;
  color: #aebb14;
  opacity: 0.3;
  z-index: -1;
}
.slider-container .slide .client-img {
  position: absolute;
  height: 70px;
  top: -35px;
}
.slider-container .slide .stars {
  color: #aebb14;
}
.slider-container .slide .client-name {
  color: #333;
  margin: 10px 0;
  letter-spacing: 2px;
}
.slider-container .slide q {
  color: #444;
  font-weight: 500;
  line-height: 1.4;
  z-index: 2;
}
.upwork-logo img {
  width: 80px;
  height: 20px;
  margin-top: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.controls .indicators {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0 30px;
}
.indicators > li {
  position: relative;
  padding: 7px;
  user-select: none;
  transition: var(--main-transition);
}
.indicators > li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  width: 2px;
  height: 12px;
  background: var(--main-color);
}
.indicators > li.active {
  color: var(--main-color);
}
#prevBtn,
#nextBtn {
  position: relative;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 0 6px rgb(255 255 255 / 25%);
  cursor: pointer;
  user-select: none;
}
#prevBtn::before,
#nextBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  width: calc(100% + 12px);
  height: 2px;
  background: var(--main-color);
  z-index: -1;
}
#prevBtn:hover::before,
#nextBtn:hover::before {
  animation: rotateControl 3s linear infinite;
}
@keyframes rotateControl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Testimonial Section */

/* Start Contact Section */
.contact .hint {
  left: -30px;
}
.contact .sec-content {
  width: 35%;
}
.contact-info .infoBx {
  display: flex;
  align-items: center;
  margin: 35px 0;
}
.infoBx .icon {
  width: 35px;
  height: 35px;
  font-size: 14px;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgb(255 255 255 / 40%);
  margin-right: 20px;
  display: grid;
  place-items: center;
}
.contact .sec-utilities {
  width: 60%;
  padding-top: 105px;
}
.infoBx .info h3 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.form .input-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-field input {
  position: relative;
  width: calc(50% - 10px);
  color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.09);
}
.form textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  padding: 10px;
  border-radius: 4px;
  resize: vertical;
}
@media screen and (max-width: 991px) {
  .contact .container {
    flex-direction: column;
  }
  .contact .sec-content,
  .contact .sec-utilities {
    width: 100%;
  }
  .contact .sec-utilities {
    padding-top: 20px;
  }
}
/* End Contact Section */
