@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
}
*::selection {
  color: #fff;
  background-color: var(--main-color);
}
:root {
  --main-color: #aebb14;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
}
html::-webkit-scrollbar {
  width: 0.4rem;
}
html::-webkit-scrollbar-track {
  background: #333;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
body {
  font-family: "Gemunu Libre", sans-serif;
  background: #333;
}
section {
  position: relative;
  color: #fff;
  min-height: 100vh;
  border-bottom: 2px solid var(--main-color);
}
@media screen and (min-width: 992px) {
  section {
    scroll-snap-align: start;
  }
}
section::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}
.container {
  position: relative;
  padding: 90px;
}
@media screen and (max-width: 991px) {
  .container {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 30px;
  }
}
svg polyline {
  stroke: var(--main-color);
}
/* Start Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 24px 40px;
  z-index: 1000;
}
.logo img {
  width: auto;
  height: 45px;
}
.social-link {
  margin-right: 170px;
  z-index: 90;
}
@media screen and (max-width: 991px) {
  .social-link {
    margin-right: 150px;
  }
}
@media screen and (max-width: 767px) {
  .social-link {
    margin-right: 80px;
  }
}
@media screen and (max-width: 420px) {
  .social-link {
    margin-right: 40px;
  }
}
.social-link a {
  display: inline-block;
  color: #fff;
  padding: 12px;
  user-select: none;
  transition: var(--main-transition);
}
.social-link a:hover {
  color: var(--main-color);
}
/* End Header */

/* Start Navigation */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  color: #fff;
  padding: 90px 30px 50px;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1001;
  transform: translateX(100%);
  transition: var(--main-transition);
}
.navigation.active {
  transform: translateX(0);
}
@media screen and (max-width: 991px) {
  .navigation {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    width: 250px;
  }
}
.navigation::-webkit-scrollbar {
  width: 0;
}
.navigation .content h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
.personal-img {
  width: 100%;
  height: 180px;
  margin: 15px 0;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
}
.navigation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px solid rgb(0, 0, 0, 0.4);
  border-radius: 3px;
  pointer-events: none;
}
.navigation p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.8);
}
.close-toggle {
  position: absolute;
  top: 47px;
  right: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .close-toggle {
    right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .close-toggle {
    right: 25px;
  }
}
.close-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: auto;
  transition: var(--main-transition);
}
.close-toggle span:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -2px;
}
.close-toggle span:nth-child(2) {
  transform: rotate(-45deg);
}
.navigation .navLinks {
  position: relative;
  margin: 35px 0;
}
.navLinks li {
  list-style: none;
  cursor: pointer;
}
.navLinks li > a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
.navLinks li > a:hover,
.navLinks li > a.active {
  color: var(--main-color);
}
.copyrights {
  position: relative;
  font-size: 17px;
}
.copyrights span {
  font-weight: 800;
}
.nav-social {
  display: flex;
  margin-top: 35px;
}
.nav-social a {
  position: relative;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  background: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  z-index: 1;
}
/* End Navigation */

/* Start Color Schems */
.color-scheme {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  color: #fff;
  background: #201e21;
  text-align: center;
  padding: 50px 25px;
  z-index: 1002;
  transform: translateX(-100%);
  transition: var(--main-transition);
}
.color-scheme.open {
  transform: translateX(0px);
}
.switcher-btn {
  position: absolute;
  right: -35px;
  top: 40%;
  transform: translateY(-40%);
  background: inherit;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.switcher-btn span {
  display: inline-block;
  margin-top: 2px;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.color-scheme .logo {
  text-align: center;
  margin-bottom: 20px;
}
.color-scheme .logo img {
  height: 100px;
  text-align: center;
}
.theme-btn-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2px;
}
.theme-btn-container span {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 991px) {
  .color-scheme {
    width: 250px;
  }
  .color-scheme .logo img {
    height: 90px
  }
}
@media screen and (max-width: 767px) {
  .color-scheme {
    width: 220px;
  }
  .color-scheme .logo img {
    height: 70px
  }
}
/* Start Color Schems */

/* Start NavPoints */
.nav-points {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: transparent;
  padding-top: 40px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  z-index: 1000;
}
.nav-points .open-toggle {
  width: 25px;
  cursor: pointer;
}
.open-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.open-toggle span:nth-child(2) {
  width: 15px;
  margin: 5px 0 5px 10px;
  transition: var(--main-transition);
}
.open-toggle:hover span:nth-child(2) {
  background: var(--main-color);
  margin: 5px 0 5px;
}
.nav-num {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .nav-points {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .nav-num {
    display: none;
  }
  .nav-points {
    padding-right: 25px;
  }
}
.nav-num li {
  position: relative;
  list-style: none;
  transform: rotate(90deg);
}
.nav-num li a {
  position: relative;
}
.nav-num li a.active::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 35%;
  width: 12px;
  height: 2px;
  background: var(--main-color);
  transform: rotate(90deg);
}
.nav-num li a {
  display: inline-block;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 12px 10px;
  transition: var(--main-transition);
}
.nav-num li:hover a,
.nav-num li a.active {
  color: var(--main-color);
}
/* End NavPoints */

/* Start Section Common Style Component:not(.home)  */
.container {
  display: flex;
  justify-content: space-between;
}
.hint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hint span {
  color: var(--main-color);
  margin-right: 10px;
}
.sec-content,
.sec-utilities {
  width: 48%;
}
.sec-content .sub-heading {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sub-heading span {
  color: var(--main-color);
  margin-right: 10px;
}
.sec-content .heading {
  font-size: 35px;
  letter-spacing: 2px;
}
.sec-content .txt {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin: 10px 0;
  letter-spacing: 1px;
}
.btn {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--main-color);
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-top: 35px;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(63, 44, 44, 0.1);
  transition: var(--main-transition);
}
@media screen and (max-width: 991px) {
  .sec-content,
  .sec-utilities {
    width: 85%;
  }
  .navigation {
    padding: 90px 15px 50px;
  }
}
/* Start Section Common Style Component:not(.home) */

/* Start Home Section */
.home {
  display: grid;
  place-items: center;
}
.home .content {
  position: relative;
  text-align: center;
}
.home .content h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home .content h3 span {
  color: var(--main-color);
  margin-right: 10px;
}
.home .content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0;
}
.home .btn {
  font-weight: 500;
  margin: 0 15px;
}
.home .btn:nth-child(2) {
  color: #333;
  background-color: #fff;
}
.home .btn:nth-child(2):hover {
  color: #fff;
  background-color: var(--main-color);
}
@media screen and (max-width: 991px) {
  .home .content h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 767px) {
  .home .btn {
    display: block;
  }
  .home .btns a:nth-child(1) {
    margin-bottom: 10px;
  }
  .home .content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 420px) {
  .home .content h1 {
    font-size: 2.1rem;
  }
}
/* End Home Section */

/* Start About Section */
.about .container {
  align-items: flex-start;
}
.about .quality {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0 30px;
  letter-spacing: 1px;
}
.about .quality span {
  color: var(--main-color);
  margin-right: 10px;
}
.about-imgBx {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.about-imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgb(255, 255, 255, 0.3);
  opacity: 0;
}
.about-imgBx:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.about-imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: inherit;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  user-select: none;
}
.about .sec-utilities h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .about .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about .sec-utilities {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 25px;
  }
  .about .sec-utilities h2 {
    font-size: 22px;
  }
  .about-imgBx {
    width: 420px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .about .hint {
    left: -15px;
  }
  .about-imgBx {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width:420px) {
  .about-imgBx {
    width: 100%;
    height: 180px;
  }
}
/* End About Section */

/* Start Services Section */
.services .container {
  align-items: center;
}
.web-lang {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(2, 150px);
  gap: 15px;
  justify-content: center;
  padding: 15px;
}
.langBx {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx span {
  color: var(--main-color);
  font-size: 4.5em;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx h3 {
  color: #333;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover .lang-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover span {
  font-size: 2em;
}
.langBx:hover h3 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}
.langBx p {
  color: #444;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  display: none;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}
.langBx:hover p {
  display: block;
}
@media screen and (max-width: 991px) {
  .services .container {
    flex-direction: column-reverse;
  }
  .web-lang {
    grid-template-columns: repeat(auto-fill, minmax(180px, 220px));
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .services .sec-utilities {
    width: 90%;
  }
  .web-lang {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-bottom: 25px;
  }
  .langBx {
    padding: 15px;
  }
}
/* End Services Section */

/* Start Skills Section */
.skills {
  align-items: center;
}
.skills .hint {
  left: -10px;
}
@media screen and (max-width: 767px) {
  .skills .hint {
    left: -25px;
  }
}
.skills .container {
  align-items: center;
}
.skills .txt span {
  font-weight: 600;
}
.skills .what-iDo {
  margin-top: 50px;
}
.what-iDo li {
  letter-spacing: 1px;
  margin: 15px 0;
  list-style: none;
  text-transform: uppercase;
}
.what-iDo li span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  margin: 0 5px;
}
.skills .sec-utilities {
  padding: 0 30px;
}
.skills-progress:not(:last-child) {
  margin-bottom: 35px;
}
.skills-lang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 300;
}
.skills-lang h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.progress-bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
}
.progress-bar span {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: all 2s;
}
.progress-bar span::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
}
@media screen and (max-width: 991px) {
  .skills .container {
    flex-direction: column;
    align-items: center;
  }
  .skills .sec-content {
    margin-bottom: 25px;
  }
  .skills .sec-utilities {
    padding: 30px 0;
  }
}
/* Start Skills Section */

/* Start Portfolio Section */
.portfolio .container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
}
.portfolio .hint {
  left: -65px;
  z-index: 1000;
}
@media screen and (max-width: 767px) {
  .portfolio .hint {
    left: -80px;
  }
}
.menu-btns {
  position: relative;
  width: fit-content;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border-bottom: 2px solid rgba(172, 172, 172, 0.5);
}
.filter-btn {
  position: relative;
  height: 50px;
  color: #fff;
  background: transparent;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: var(--main-transition);
}
.filter-btn:not(:last-child) {
  margin-right: 10px;
}
.filter-btn:hover,
.filter-btn.active {
  color: var(--main-color);
}
.filter-btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: var(--main-color);
  opacity: 0.5;
  transition: var(--main-transition);
}
.filter-btn:hover::before,
.filter-btn.active::before {
  left: 0;
}
.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}
.card {
  position: relative;
  width: 230px;
  height: 300px;
  background: #FFF;
  border-radius: 15px;
  box-shadow: 0 0 25px 3px rgb(0, 0, 0, 0.15);
  background-size: cover;
  background-position: center;
}
.card .card-title {
  position: absolute;
  top: 30px;
  left: -15px;
  width: 210px;
  height: 35px;
  background: var(--main-color);
  display: grid;
  place-items: center;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  letter-spacing: 1px;
}
.card-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 15px;
  height: 30px;
  background: var(--main-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.15) inset;
  z-index: 2;
}
.card-title::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  z-index: 1;
}
.card .web-link {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  color: var(--main-color);
  background: #FFF;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  padding: 8px 20px;
  transition: var(--main-transition);
}
.card .preview {
  bottom: 60px;
}
.web-link:hover {
  color: #FFF;
  background: var(--main-color);
  letter-spacing: 1px;
}
/* End Portfolio Section */

/* Start Testimonial Section */
.testimonial .hint {
  left: -52px;
}
@media screen and (max-width: 767px) {
  .testimonial .hint {
    display: none;
  }
}
.testimonial .container {
  flex-direction: column;
}
.testimonial .heading {
  font-size: 35px;
  letter-spacing: 2px;
}
.slider-container {
  position: relative;
  min-height: 50vh;
  padding-top: 35px;
  margin-top: 35px;
  overflow: hidden;
}
@media screen and (max-width: 420px) {
  .slider-container {
    min-height: 60vh;
  }
}
.slide {
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 50px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}
.slide .quote {
  position: absolute;
  top: 0px;
  right: 10px;
}
.quote span {
  font-size: 10rem;
  color: #aebb14;
  opacity: 0.3;
  z-index: -1;
}
.slide .client-img {
  position: absolute;
  height: 70px;
  top: -35px;
}
.slide .stars {
  color: #aebb14;
}
.slide .client-name {
  color: #333;
  margin: 10px 0;
  letter-spacing: 2px;
}
.slide q {
  color: #444;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  z-index: 2;
}
.upwork-logo img {
  width: 80px;
  height: 20px;
  margin-top: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.controls .indicators {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0 30px;
}
.indicators > li {
  position: relative;
  padding: 7px;
  letter-spacing: 1px;
  user-select: none;
  transition: var(--main-transition);
}
.indicators > li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  width: 2px;
  height: 12px;
  background: var(--main-color);
}
.indicators > li.active {
  color: var(--main-color);
}
#prevBtn,
#nextBtn {
  position: relative;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 0 6px rgb(255 255 255 / 25%);
  cursor: pointer;
  user-select: none;
}
/* End Testimonial Section */

/* Start Contact Section */
.contact .hint {
  left: -30px;
}
@media screen and (max-width: 767px) {
  .contact .hint {
    display: none;
  }
}
.contact .sec-content {
  width: 35%;
}
.contact-info .infoBx {
  display: flex;
  align-items: center;
  margin: 35px 0;
}
.infoBx .icon {
  width: 35px;
  height: 35px;
  font-size: 14px;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgb(255 255 255 / 40%);
  margin-right: 20px;
  display: grid;
  place-items: center;
}
.contact .sec-utilities {
  width: 60%;
  padding-top: 105px;
}
.infoBx .info h3 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.form .input-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-field input {
  position: relative;
  width: calc(50% - 10px);
  color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.09);
}
.form textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  padding: 10px;
  border-radius: 4px;
  resize: vertical;
}
@media screen and (max-width: 991px) {
  .contact .container {
    flex-direction: column;
  }
  .contact .sec-content,
  .contact .sec-utilities {
    width: 100%;
  }
  .contact .sec-utilities {
    padding-top: 20px;
  }
}
/* End Contact Section */

/* Start Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 999999;
  opacity: 1;
  transition: var(--main-transition);
}

/* The dot */
.loader > .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-top: -50px;
  margin-left: -80px;
  border-radius: 5px;
  background-color: #1e3f57;
  transform-style: preserve-3d;
  animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.loader > .dot:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-color: #3c617d;
  animation-name: dot2;
}

.loader > .dot:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #6bb2cd;
  animation-name: dot3;
}

@keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;
    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;
    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;
    margin-top: 49px;
    margin-left: -5px;
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;
    margin-top: -37px;
    margin-left: -8px;
    border-radius: 10px;
  }
}
/* End Loader */

/* Start ScrollToTop */
.scrollToTop {
  position: fixed;
  right: 47px;
  bottom: 500px;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #FFF;
  background: var(--main-color);
  border-radius: 8px;
  z-index: 99999;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  transition: 0.7s;
  animation: scrollBtn 0.6s linear alternate infinite;
  opacity: 0;
  visibility: hidden;
}
.scrollToTop.active {
  bottom: 25px;
  opacity: 1;
  visibility: visible;
}
@keyframes scrollBtn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 767px) {
  .scrollToTop {
    right: 25px;
  }
}
/* End ScrollToTop */